<div class="row">
	<div class="col-xs-12">
		<form (ngSubmit)="onSubmit()" #ingredientForm="ngForm">
			<div class="row">
				<div class="col-sm-5 form-group">
					<label for="name">Name</label>
					<input 
						ngModel 
						required 
						type="text" 
						id="name" 
						name="name" 
						class="form-control">
				</div>
				<div class="col-sm-2 form-group">
					<label for="amount">Amount</label>
					<input 
						ngModel 
						required 
						type="number" 
						id="amount" 
						name="amount" 
						class="form-control"
						pattern="^[1-9]+[0-9]*$">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button [disabled]="ingredientForm.invalid && !editMode" class="btn btn-success" type="submit"> {{ editMode ? 'Edit' : 'Add' }} </button>
					<button (click)="clearForm()" class="btn btn-primary" type="button">Clear</button>
				</div>
			</div>
		</form>
	</div>
</div>