<label>Server</label>

<input
	type="text"
	class="form-control"
	[(ngModel)]="serverName"
/>

<button 
	class="btn btn-primary" 
	[disabled]="isServerEmpty()"
	(click)="onNewServer()">
	Add server
</button>

<hr>

<app-server *ngFor="let server of servers"></app-server>

<button
	(click)="onClick()">
	Display Details
</button>

<p *ngIf="show">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur labore nihil explicabo repellat recusandae itaque animi fugiat deleniti, voluptates, numquam voluptas, modi voluptate quia consequatur saepe error! Necessitatibus, facere veritatis?</p>

<div *ngFor="let click of clicks; let i = index">
	<span [ngClass]="{blueColor : i >= 3}">Text</span>
</div>
